@import "../../css/vars.css";
.modalWrapper {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: var(--modal-border-radius);
    padding: var(--offset-x);
}

.tableWrapper {
    width: 100%;
    height: 400px;
}